.App {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.logo-container {
  border-bottom: 4px solid #7ea2aa;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: white;
}

.logo {
  margin-right: 2%;
  padding: 10px 10px;
}

nav {
  display: flex;
  flex-direction: row;
  border-left: 4px solid #7ea2aa;
  padding-left: 7%;
  margin-left: 90px;
  padding-top: 15px;
}

nav h1 {
  color: #303633;
  width: 70%;
  margin-bottom: 5px;
}

nav p {
margin: 0;
padding: 0;
width: 90%;
}

nav button {
  margin: 11% 5% 0% 0%;
  height: 2rem;
  width: 9rem;
  font-size: .7rem;
}

.no-favorites-message {
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  margin-top: 4%;
  line-height: 1.75rem;
}
